USE [master]
GO
/****** Object:  Database [DG_QUEJATERD]    Script Date: 15/07/2021 08:21:16 p. m. ******/
CREATE DATABASE [DG_QUEJATERD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DG_QUEJATERD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DG_QUEJATERD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DG_QUEJATERD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DG_QUEJATERD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DG_QUEJATERD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DG_QUEJATERD]
GO
/****** Object:  Table [dbo].[PostActions]    Script Date: 15/07/2021 08:21:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostActions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PostId] [bigint] NOT NULL,
	[IsPositive] [bit] NOT NULL,
	[ActionTypeId] [int] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[DeletedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
 CONSTRAINT [PK_PostActions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostActionTypes]    Script Date: 15/07/2021 08:21:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostActionTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ActionTypeName] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[DeletedBy] [bigint] NULL,
 CONSTRAINT [PK_PostActionTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostFiles]    Script Date: 15/07/2021 08:21:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostFiles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[DeletedBy] [bigint] NULL,
	[PostId] [bigint] NOT NULL,
	[FileUrl] [nvarchar](50) NOT NULL,
	[FileType] [int] NOT NULL,
	[IsVisible] [bit] NOT NULL,
	[IsPreview] [bit] NOT NULL,
 CONSTRAINT [PK_PostFiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 15/07/2021 08:21:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [ntext] NOT NULL,
	[IsVisible] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[DeletedBy] [bigint] NULL,
 CONSTRAINT [PK_Posts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15/07/2021 08:21:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[DeletedBy] [bigint] NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Lastname] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Passkey] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PostActions] ADD  CONSTRAINT [DF_PostActions_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PostFiles] ADD  CONSTRAINT [DF_PostFiles_IsVisible]  DEFAULT ((1)) FOR [IsVisible]
GO
ALTER TABLE [dbo].[PostFiles] ADD  CONSTRAINT [DF_PostFiles_IsPreview]  DEFAULT ((0)) FOR [IsPreview]
GO
ALTER TABLE [dbo].[Posts] ADD  CONSTRAINT [DF_Posts_IsVisible]  DEFAULT ((1)) FOR [IsVisible]
GO
ALTER TABLE [dbo].[PostActions]  WITH CHECK ADD  CONSTRAINT [FK_PostActions_PostActionTypes] FOREIGN KEY([ActionTypeId])
REFERENCES [dbo].[PostActionTypes] ([Id])
GO
ALTER TABLE [dbo].[PostActions] CHECK CONSTRAINT [FK_PostActions_PostActionTypes]
GO
ALTER TABLE [dbo].[PostActions]  WITH CHECK ADD  CONSTRAINT [FK_PostActions_Posts] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
GO
ALTER TABLE [dbo].[PostActions] CHECK CONSTRAINT [FK_PostActions_Posts]
GO
ALTER TABLE [dbo].[PostActions]  WITH CHECK ADD  CONSTRAINT [FK_PostActions_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PostActions] CHECK CONSTRAINT [FK_PostActions_Users]
GO
ALTER TABLE [dbo].[PostActions]  WITH CHECK ADD  CONSTRAINT [FK_PostActions_Users1] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PostActions] CHECK CONSTRAINT [FK_PostActions_Users1]
GO
ALTER TABLE [dbo].[PostActionTypes]  WITH CHECK ADD  CONSTRAINT [FK_PostActionTypes_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PostActionTypes] CHECK CONSTRAINT [FK_PostActionTypes_Users]
GO
ALTER TABLE [dbo].[PostActionTypes]  WITH CHECK ADD  CONSTRAINT [FK_PostActionTypes_Users1] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PostActionTypes] CHECK CONSTRAINT [FK_PostActionTypes_Users1]
GO
ALTER TABLE [dbo].[PostActionTypes]  WITH CHECK ADD  CONSTRAINT [FK_PostActionTypes_Users2] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PostActionTypes] CHECK CONSTRAINT [FK_PostActionTypes_Users2]
GO
ALTER TABLE [dbo].[PostFiles]  WITH CHECK ADD  CONSTRAINT [FK_PostFiles_Posts] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
GO
ALTER TABLE [dbo].[PostFiles] CHECK CONSTRAINT [FK_PostFiles_Posts]
GO
ALTER TABLE [dbo].[PostFiles]  WITH CHECK ADD  CONSTRAINT [FK_PostFiles_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PostFiles] CHECK CONSTRAINT [FK_PostFiles_Users]
GO
ALTER TABLE [dbo].[PostFiles]  WITH CHECK ADD  CONSTRAINT [FK_PostFiles_Users1] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PostFiles] CHECK CONSTRAINT [FK_PostFiles_Users1]
GO
ALTER TABLE [dbo].[PostFiles]  WITH CHECK ADD  CONSTRAINT [FK_PostFiles_Users2] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PostFiles] CHECK CONSTRAINT [FK_PostFiles_Users2]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_Users]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_Users1] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_Users1]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_Users2] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_Users2]
GO
USE [master]
GO
